@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

@font-face {
  font-family: "DockerOne";
  src: url("../fonts/Docker/DockerOne.woff") format("woff");
}

@font-face {
  font-family: "DockerTwo";
  src: url("../fonts/Docker/DockerTwo.woff") format("woff");
}

@font-face {
  font-family: "DockerThree";
  src: url("../fonts/Docker/DockerThree.woff") format("woff");
}

@font-face {
  font-family: "UniSans";
  src: url("../fonts/UniSans/UniSansHeavy.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "UniSans";
  src: url("../fonts/UniSans/UniSansThin.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}