@font-face {
  font-family: 'DockerOne';
  src: url('../fonts/DockerOne.woff') format('woff');
}

@font-face {
  font-family: 'DockerTwo';
  src: url('../fonts/DockerTwo.woff') format('woff');
}

@font-face {
  font-family: 'DockerThree';
  src: url('../fonts/DockerThree.woff') format('woff');
}