.section {
  display: flex;
  max-width: 1024px;
  margin: 40px auto;
}

.section_direction_row {
  flex-direction: row;
}

.section__item {
  flex-shrink: 1;
}

@media only screen and (max-width: 500px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}
