.text_type_title {
  font-family: "RussoOne";
  font-size: 800;
}

.text_type_description {
  font-family: "RalewayLight";
}

.text_type_headers {
  font-family: "MontserratBlack";
}

.text_size_xs {
  font-size: 14px;
}

.text_size_sm {
  font-size: 18px;
}

.text_size_md {
  font-size: 26px;
}

.text_size_lg {
  font-size: 34px;
}

.text_size_xl {
  font-size: 42px;
}

.text_size_xxl {
  font-size: 50px;
}

.text_size_xxxl {
  font-size: 70px;
}

.text_spacing_bottom_md {
  padding-bottom: 20px;
}

.text_spacing_bottom_l {
  padding-bottom: 50px;
}

.text_spacing_bottom_xl {
  padding-bottom: 80px;
}

.text_position_left {
  text-align: left;
}

.text_position_center {
  text-align: center;
}

.text_position_right {
  text-align: right;
}

.content_title {
  font-family: "RussoOne";
}